<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error-music not found</title>
    <style type="text/css">
        body {
            font-family: "Poppins", sans-serif;
            font-weight: 300;
            font-size: 100%;
            background-color: #DC143C;
            line-height: 1.5;
            color: #000;

        }
        #back_btn{
            width: 20%;
            padding: 1em;
            margin-left: 18em;
            margin-top: 1em;
            border-radius: 5px;
            color: white;
            background-color:rgb(25, 139, 253);
            border-style: none;
        }
        .main{
            margin-top: 10vh;
            margin-right: 30vh;
            margin-left: 30vh;
            display: block;
            background-color: white;
            text-align: center;
            padding: 10px;
            border-radius: 2%
        }
    </style>
</head>
<body style='background-image:url(https://raw.githubusercontent.com/raviprakash11/MusicRecommendationSystem/master/image/music4.jpg)'>

    <div class="main">
        <h1>Error, music "{{ name }}" not found</h1>
        <input type="hidden" value="{{ name }}" id="movie_name" readonly />
        <hr>
        <span id="suggestions"></span>
        
    </div>
    
    <button id="back_btn" onClick="goBack()">Go Back to Home Page &amp; Try Again.</button>
    <script>
        let all_titles = ["You'll Never Walk Alone - Mono; 2002 Remaster",
 'Ferry Cross the Mersey - Mono; 2002 Remaster',
 "Don't Let the Sun Catch You Crying (Main) - Mono",
 'The September Of My Years - Live At The Sands Hotel And Casino, Las Vegas/1966 / Show 2',
 'It Was A Very Good Year - Live At The Sands Hotel And Casino, Las Vegas/1966 / Show 2',
 'How Do You Do It? - Mono',
 'Hello Little Girl',
 "Don't Let the Sun Catch You Crying - 2008 Remaster",
 'Ferry Cross the Mersey - Stereo; 2002 Remaster',
 'I Like It (Main)',
 "I'll Be There - First Version",
 'The End of the Rainbow - Stereo; 2008 Remaster',
 "Don't Ever Stray",
 "You've Lost That Lovin' Feelin' - 2006 Digital Remaster",
 'The Circle Game - Live at The 2nd Fret, Philadelphia, PA, 11/1966',
 'Urge For Going - Live at The 2nd Fret, Philadelphia, PA, 11/1966',
 'Brandy Eyes - Live at The 2nd Fret, Philadelphia, PA, 11/1966',
 "What's The Story Mr. Blue - Live at The 2nd Fret, Philadelphia, PA, 11/1966",
 'Eastern Rain - Live at The 2nd Fret, Philadelphia, PA, 11/1966',
 'Intro To The Circle Game - Live at The 2nd Fret, Philadelphia, PA, 11/1966',
 'Intro To Urge For Going - Live at The 2nd Fret, Philadelphia, PA, 11/1966',
 "It's Gonna Be Alright - Mono; 2002 Remaster",
 'Chills - 2002 Remaster',
 "Intro To What's The Story Mr. Blue - Live at The 2nd Fret, Philadelphia, PA, 11/1966",
 'Strangers in the Night - Stereo; 2008 Remaster',
 'Night In The City - Live at The 2nd Fret, Philadelphia, PA, 11/1966',
 'Intro To Night In The City - Live at The 2nd Fret, Philadelphia, PA, 11/1966',
 'It Was A Very Good Year - Live At The Sands, Las Vegas/1966',
 'Forest Flower - Sunrise - Live@Monterey',
 'The September Of My Years - Live At The Sands, Las Vegas/1966',
 'Ecstasy of Gold - From "The Good, the Bad and the Ugly", 1966',
 'All Blues - Live at the Newport Jazz Festival, Newport, RI - July 1966',
 'Jambalaya - 2002 Remaster',
 "Come Up The Years - Live 10.15.1966 Late Show - Signe's Farewell",
 'How Do You Do It - Recorded Live at Oakland Auditorium',
 'Gingerbread Boy - Live at the Newport Jazz Festival, Newport, RI - July 1966',
 'Stella by Starlight - Live at the Newport Jazz Festival, Newport, RI - July 1966',
 'Pretend - 2002 Remaster',
 'Hallelujah I Love Her So - Stereo; 2008 Remaster',
 "It's All Right - 2002 Remaster",
 'Summertime - 2002 Remaster',
 'Girl on a Swing - 2008 Remaster',
 'Happenings Ten Years Time Ago - Single A-Side',
 'R.J. - Live at the Newport Jazz Festival, Newport, RI - July 1966',
 'Seven Steps to Heaven - Live at the Newport Jazz Festival, Newport, RI - July 1966',
 "I'm the One",
 'Hallelujah I Love Her So - Mono; 2008 Remaster',
 'Where Have You Been All My Life? - 2002 Remaster',
 'Away from You',
 'See You in September - Mono; 2008 Remaster',
 "You're the Reason - 2002 Remaster",
 'A Shot of Rhythm and Blues - 2002 Remaster',
 "I'll Be There - Mono",
 'The Way You Look Tonight - 2008 Remaster',
 "You've Got What I Like",
 'Walk Hand in Hand',
 'The Theme / Closing Announcement by Leonard Feather - Live at the Newport Jazz Festival, Newport, RI - July 1966',
 'Maybellene - 2002 Remaster',
 "You Can't Fool Me - 2002 Remaster",
 'Come Back to Me (No Strings) - 2008 Remaster',
 'Slow Down - 2002 Remaster',
 "It's Happened to Me - 2002 Remaster",
 "She's the Only Girl for Me - 2002 Remaster",
 "I'll Be There - Second Version Without Strings; 2008 Remaster",
 'This Thing Called Love - Mono; 2002 Remaster',
 "Don't You Ever - 2002 Remaster",
 'Sorcery - Live@Monterey',
 "Let's Make Christmas Mean Something This Year - Pt. 1",
 'No Milk Today',
 'Last Train to Clarksville',
 'Ooh La La',
 'The Wrong Yoyo - 2002 Remaster',
 'Who Can I Turn To - Stereo; 2008 Remaster',
 "It's Gonna Be Alright - Stereo; 2002 Remaster",
 'My Love Forever',
 'Why Oh Why',
 'Think About Love - 2002 Remaster',
 'The End of the Rainbow - Mono; 2008 Remaster',
 'My Babe - 2008 Remaster',
 'Give Me All Your Love - No Strings; 2008 Remaster',
 "I'll Wait for You - 2002 Remaster",
 'Tomorrow',
 'Show Me That You Care',
 "Whole Lotta Shakin' Going On",
 'You Win Again',
 "Reelin' and Rockin'",
 'Fall in Love - 2002 Remaster',
 "I'll Make It up All up to You - Mono",
 "Baby You're so Good to Me - 2002 Remaster",
 'You You You - Stereo; 2008 Remaster',
 'You You You - 2008 Remaster',
 'Give Me All Your Love - With Strings; 2008 Remaster',
 'See You in September - Stereo; 2008 Remaster',
 "Here's Hoping - 2002 Remaster",
 "Don't Let the Sun Catch You Crying - Recorded Live at Oakland Auditorium",
 'Strangers in the Night - Mono; 2008 Remaster',
 'Guantanamera - Mono; 2008 Remaster',
 'Skinny Minnie - 2008 Remaster',
 "What'd I Say - 2008 Remaster",
 'Guantanamera - Stereo; 2008 Remaster',
 'Dizzy Miss Lizzy - Live; 2008 Remaster',
 'When Oh When - 2002 Remaster',
 'Girl on a Swing',
 'Walk Hand in Hand - 2008 Remaster',
 "It's Just Because",
 'I Count the Tears - 2008 Remaster',
 "Today I'm in Love - Mono",
 "I'll Be There - Second Version with Strings; 2008 Remaster",
 'Big Bright Green Pleasure Machine',
 "Now I'm Alone - 2008 Remaster",
 'Hoochie Coochie Man - 2006 Digital Remaster',
 'Got My Mojo Working - 2006 Digital Remaster',
 'Sombrero Sam - Remastered Version',
 "Gee Baby Ain't I Good To You - 2006 Digital Remaster",
 'Hoochie Coochie - 2006 Digital Remaster',
 "You're Breaking My Heart - 2006 Digital Remaster",
 'Hard Hard Year - Saturday Club 28th June 1966',
 "Theme - From ''The Battle of Algiers'', 1966",
 'Interview With Steve Marriott - BBC Saturday Club Session / March 1966',
 'Interview With Steve Marriott - BBC Saturday Club Session / August 1966',
 'Interview With Steve Marriott - BBC Saturday Club Session / May 1966',
 "Titles - From ''The Good the Bad the Ugly'',1966",
 'Wait Till Next Year',
 'Five Long Years - 2006 Digital Remaster',
 'String Quartet No. 1 in C Minor, Op. 51: IV. Allegro - Live Recording 1966',
 'It Was a Very Good Year',
 "Let's Make Christmas Mean Something This Year - Pt. 2",
 'Shostakovich: Symphony No. 11 in G Minor, Op. 103, "The Year 1905": III. In memoriam (Adagio)',
 'Shostakovich: Symphony No. 11 in G Minor, Op. 103, "The Year 1905": I. The Palace Square (Adagio)',
 'Shostakovich: Symphony No. 11 in G Minor, Op. 103, "The Year 1905": II. The Ninth of January (Allegro - Adagio - Allegro - Adagio)',
 'Shostakovich: Symphony No. 11 in G Minor, Op. 103, "The Year 1905": IV. The Tocsin (Allegro non troppo - Allegro - Moderato - Adagio - Allegro)',
 'My Little Red Book',
 'Knock On Wood',
 'Groovy Kind of Love',
 'The Carnival Is Over (Mono)',
 "Good Lovin'",
 'Bang Bang',
 "Don't Answer Me",
 'Got to Get You Into My Life',
 'Mustang Sally',
 'Devil with a Blue Dress On / Good Golly Miss Molly',
 'My Daddy and My Mama and Me',
 'Goodbye Cruel World',
 'The Tip of My Fingers',
 "Next Time You're in Tulsa",
 'Walk out Backwards',
 'The Cold Hard Facts of Life',
 'You and Your Sweet Love',
 'Down Came the Rain',
 'Here Lies the Heart of Amos Brown',
 "Talkin' to the Wall",
 'Wine',
 'One Mile Over – Two Miles Back',
 "You Don't Have to Be a Baby to Cry",
 'All Nite Cafe',
 'Riverboat',
 'Molly',
 'I Wish It Was Mine',
 "I'll Be Waiting",
 'Reverend Mr. Black',
 "Think I'll Go Somewhere - And Cry Myself to Sleep",
 'Flowing Waters and Shifting Sands',
 'Dead or Alive',
 'Empty Room',
 "I've Enjoyed as Much of This as I Can Stand",
 'Wild Side of Life',
 'I Love You More and More Every Day',
 'How the Other Half Lives',
 'It Takes a Worried Man',
 "No Man's Land",
 'When Liking Turns to Loving',
 "I'll Be Somewhere",
 'Twist of the Wrist',
 "Truck Drivin' Man",
 "I'll Go Down Swingin'",
 'Golden Guitar',
 'You Made It Easy',
 'For Loving You',
 "It's Not the End of Everything",
 'From a Jack to a King',
 "If It's All the Same to You",
 "I'll Go Down Swinging",
 'Something to Believe In',
 "Po' Folks",
 'Ninety-Nine',
 'Once a Day Alt.',
 'Cocktails',
 'Mama Sang a Song',
 'Memory #1',
 '3 A.M. (Remake)',
 "That's What It's Like to Be Lonesome - Single Version",
 'Five Little Fingers',
 'Certain',
 'I Love You Drops',
 '8 X 10',
 'I Missed Me',
 'Ride Ride Ride',
 'Bad Seed',
 'The Thrill of My Life',
 'On and on and On',
 'Back Where I Started From',
 'I Get the Fever (Remake)',
 'Worry',
 "Get While the Gettin's Good",
 'I Know You Are Married (But I Love You Still)',
 'Time Out',
 'I Love You Drops Alt.',
 'Wedding Bells',
 'Nail My Shoes to the Floor',
 'Get a Little Dirt on Your Hands',
 'Easy Come Easy Go',
 '3 A.M.',
 "I'm Ashamed of You",
 "Then I'll Stop Loving You",
 "I'm Leaving It All up to You",
 'Bright Lights and Country Music',
 'Best of Strangers',
 'Yonder Comes a Sucker',
 'The Wheel of Hurt',
 'No Song to Sing',
 'Take Me Home',
 'In the Summertime',
 "That's What It's Like to Be Lonesome",
 'You Can Have Her',
 'Saginaw Michigan',
 'Take These Chains from My Heart',
 'In Case You Ever Change Your Mind',
 'Used To',
 'Restless',
 "It's Been so Long, Darlin'",
 "The Lord Knows I'm Drinkin'",
 'The Freighter',
 "Slippin' Away",
 'The Strangers Story',
 'City Lights - Alternative Version',
 'Mountain Dew',
 "Lovin' Pains",
 'Homesick',
 'Born',
 'Then and Only Then',
 'Nobody but a Fool',
 'Walking the Dog',
 'Cincinnati Ohio',
 "Think I'll Go Somewhere (And Cry Myself to Sleep)",
 'Papa',
 'Me',
 'The First Mrs. Jones',
 'Columbus Stockade Blues',
 'Open up Your Heart',
 'Happiness',
 "I Don't Love You Anymore",
 'Candy Apple Red',
 'Little Band of Gold',
 'Looking for My Life - Stereo; 2008 Remaster',
 'Without You - Mono; 2008 Remaster',
 'Pretty Flamingo - Stereo; 2008 Remaster',
 'A Fool to Myself - 2008 Remaster',
 'Dreams - Mono; 2008 Remaster',
 'Big Bright Green Pleasure Machine - 2008 Remaster',
 'A Shot of Rhythm and Blues - Recorded Live at Oakland Auditorium',
 'Tonight - Mono; 2008 Remaster',
 'La La La - 2008 Remaster',
 'Introduction',
 'Without You - Stereo; 2008 Remaster',
 'Give Me All Your Love - New Mix',
 "I'll Make It up All up to You - Stereo",
 'Slow Down - Recorded Live at Oakland Auditorium',
 "Reelin' and a Rockin' - 2008 Remaster",
 'Pretty Flamingo - Mono; 2008 Remaster',
 'Away from You - Recorded Live at Oakland Auditorium',
 'Dizzy Miss Lizzy - Recorded Live at Oakland Auditorium',
 'La La La',
 'I Like It - Recorded Live at Oakland Auditorium',
 'On a Wonderful Day Like Today - Stereo; 2008 Remaster',
 'My Babe - Recorded Live at Oakland Auditorium',
 'My Babe - Live; 2008 Remaster',
 "What'd I Say - Recorded Live at Oakland Auditorium",
 'Tonight - Stereo; 2008 Remaster',
 "I'm the One - Recorded Live at Oakland Auditorium",
 'On a Wonderful Day Like Today - Mono; 2008 Remaster',
 "Whole Lot of Shakin' Goin' On - 2008 Remaster",
 'Looking for My Life - Mono; 2008 Remaster',
 'This Thing Called Love - Stereo; 2002 Remaster',
 'Dreams - Stereo; 2008 Remaster',
 'Anyone at All',
 "Today I'm in Love - Stereo",
 'Who Can I Turn To - Mono; 2008 Remaster',
 'Come Back to Me - With Strings',
 'Rip It Up - 2008 Remaster',
 'Year 3000',
 'Year 3000 - Live At The Royal Albert Hall',
 'Hurrian Hymn (Ancient Mesopotamian Musical Fragment c.1400BCE, Arranged For Replica 3000 Year Old Lyre)',
 'Shadow of the Ziggurat (Original Composition For Replica 3000 Year Old Lyre Featuring The Rare Assyrian Hammered-Lyre Playing Technique, c.700BCE)',
 'Hymn To Horus (Composition For Replica 3000 Year Old Lyre, Based on a Traditional Egyptian Folk Melody)',
 'Ashir Shirim (Ancient Babylonian Jewish Wedding Song, Arranged For Replica 3000 Year Old Biblical "Nevel" Lyre)',
 'Echoes of Ancient Egypt (Improvisation on an Ancient Egyptian Minor Pentatonic Scale - Arranged For Replica 3000 Year Old Lyre)',
 'The Music of Moses (Improvisation on an Ancient Egyptian Minor Pentatonic Scale - Arranged For Replica 3000 Year Old Lyre)',
 '"Pimpin n tha Year 3000"',
 'King David Danced (Original Composition For Replica 3000 Year Old Biblical "Nevel" Lyre)',
 'Ark of the Covenant (Composition For Replica 3000 Year Old Biblical "Kinnor" Lyre, Based on a Traditional Jewish Klezmer Melody)',
 'Love In The Year 3000',
 'The Temple of Jerusalem (Composition For Replica 3000 Year Old Biblical "Nevel" Lyre, Based on a Traditional Jewish Sacred Melody)',
 'Lyres of the Levites (Composition For Replica 3000 Year Old Biblical "Kinnor" Lyre, Based on a Traditional Jewish Klezmer Melody)',
 'Pimpin n tha Year 3000',
 'Ancient Vibrations (Original Composition For Replica 3000 Year Old Lyre in the Mystical Middle Eastern Hijaz Mode)',
 'Love in the Year 3000 - Live',
 '3000 Years of Lies - Original Version',
 'Intro - Year 3000 Style',
 'Rock It Tonight - Year 3000 Mix',
 'Lazy Man - Iration Steppas Year 3000 Dub',
 'Rolling Stoners',
 'The Year 3000',
 'In the Year 3000',
 'Year 3000 (Vocal Edition)',
 '30000 Light Years Old',
 'In The Year 3000',
 '3000 NENNI ICHIDONO HAPPINESS - THE HAPPINESS ONCE IN 3000 YEARS -',
 'Vape Till da Year 3000',
 '3000 years in show biz',
 'Youths Dem (3000 Years Dub)',
 'Amoeba - Andomat 3000 Remix',
 'Razzmatazz - Andomat 3000 Remix',
 'The Yearning (Live @ Nikki Beach)',
 'Most Precious Love - DF Future 3000 Mix',
 "Most Precious Love - DF's Future 3000 Drums",
 "Most Precious Love - DF's Future 3000 Mix",
 'Quit Society',
 'Riot Girl',
 'Another Piece of Heartache',
 'Yeah Yeah Yeah',
 'Nasty Wheather',
 'Shushuli Beiçola',
 'Wrat Trap',
 'White Powder',
 'Kharma',
 'Be Free',
 'Sleepy Jimmy',
 'Feels All Fools Right',
 'Fake News',
 'Darth Vader',
 'Yeah Yeah',
 'Demolition',
 'Dissociative',
 'Jerusalem Songs Medley: This Is Jerusalem - To You Jerusalem - Rejoice Jerusalem - You Shall Not Be Shy - In Jerusalem',
 'Over the Top of Mount Scopus',
 'Just Work It',
 'Photone - Matthias Tanzmann Remix',
 "I Don't Get Satisfaction",
 'Make Love To You',
 'My Mind Goes Round In Circles',
 'Saturday Shopping',
 'Modern Love',
 'Sandy',
 'Live Without Her Love',
 "I've Got You On My Mind",
 'The Youth Of Today Are Gonna Make It',
 'Does Stephanie Know?',
 'Noonday Underground',
 'To Keep Me Satisfied',
 'B-A-B-Y Baby Love',
 'I Put My Arms Around Her',
 'Hotel Oasiz - Robert Hood Remix',
 'So Sheik - Samuel L Session Remix',
 'On the Edge of Love - Ken Ishii Remix',
 'Amelie - Format:B Remix',
 'Swing',
 'Bateria',
 'Dish of the Day - Gorge Remix',
 'Defiant - Kiko Remix',
 'Stock Option',
 'Kings of Kigali - Push.Push Re-Edit',
 'Strange Place of Mind',
 'Bambossa - Nicole Moudaber Gorge-Ous Remix',
 'El Hombre',
 'Monosynth - Kollektiv Turmstrasse Remix',
 'La Dolce Vita - Fred Everything Remix',
 'Equatorial Soil - Glasgow Chavez Remix',
 'The Pressure - Enthousiaste Gasten Remix',
 'Psalms No. 28',
 'Psalms No. 91',
 'Psalms No. 65',
 'Psalms No. 121',
 'Psalms No. 73',
 'Psalms No. 95',
 'Psalms No. 87',
 'Psalms No. 61',
 'Psalms No. 45',
 'Psalms No. 49',
 'Psalms No. 1',
 'Psalms No. 24',
 'Psalms No. 72',
 'Psalms No. 75',
 'Psalms No. 85',
 'Psalms No. 35',
 'Psalms No. 64',
 'Psalms No. 128',
 'Psalms No. 117',
 'Psalms No. 98',
 'Psalms No. 86',
 'Psalms No. 70',
 'Psalms No. 148',
 'Psalms No. 135',
 'Psalms No. 26',
 'Psalms No. 47',
 'Psalms No. 112',
 'Psalms No. 39',
 'Psalms No. 32',
 'Psalms No. 5',
 'Psalms No. 69',
 'Psalms No. 141',
 'Psalms No. 115',
 'Psalms No. 84',
 'Psalms No. 56',
 'Psalms No. 9',
 'Psalms No. 52',
 'Psalms No. 74',
 'Psalms No. 19',
 'Psalms No. 109',
 'Psalms No. 21',
 'Psalms No. 16',
 'Psalms No. 41',
 'Psalms No. 6',
 'Psalms No. 107',
 'Psalms No. 144',
 'Psalms No. 119',
 'Psalms No. 96',
 'Psalms No. 125',
 'Psalms No. 59',
 'Psalms No. 82',
 'Psalms No. 71',
 'Psalms No. 123',
 'Psalms No. 27',
 'Psalms No. 127',
 'Psalms No. 43',
 'Psalms No. 29',
 'Psalms No. 25',
 'Psalms No. 89',
 'Psalms No. 147',
 'Psalms No. 145',
 'Psalms No. 7',
 'Psalms No. 33',
 'Psalms No. 83',
 'Psalms No. 94',
 'Psalms No. 113',
 'Psalms No. 139',
 'Psalms No. 142',
 'Psalms No. 44',
 'Psalms No. 140',
 'Psalms No. 67',
 'Psalms No. 2',
 'Psalms No. 68',
 'Psalms No. 126',
 'Psalms No. 102',
 'Psalms No. 134',
 'Psalms No. 23',
 'Psalms No. 66',
 'Psalms No. 34',
 'Psalms No. 51',
 'Psalms No. 129',
 'Psalms No. 40',
 'Psalms No. 48',
 'Psalms No. 90',
 'Psalms No. 10',
 'Psalms No. 108',
 'Psalms No. 122',
 'Psalms No. 22',
 'Psalms No. 106',
 'Psalms No. 133',
 'Psalms No. 97',
 'Psalms No. 31',
 'Psalms No. 76',
 'Psalms No. 111',
 'Psalms No. 14',
 'Psalms No. 131',
 'Psalms No. 37',
 'Psalms No. 101',
 'Psalms No. 118',
 'Psalms No. 15',
 'Psalms No. 42',
 'Psalms No. 62',
 'Psalms No. 114',
 'Psalms No. 38',
 'Psalms No. 103',
 'Psalms No. 20',
 'Psalms No. 11',
 'Psalms No. 46',
 'Psalms No. 104',
 'Psalms No. 50',
 'Psalms No. 78',
 'Psalms No. 79',
 'Psalms No. 105',
 'Psalms No. 100',
 'Psalms No. 30',
 'Psalms No. 88',
 'Psalms No. 149',
 'Psalms No. 81',
 'Psalms No. 99',
 'Psalms No. 138',
 'Psalms No. 18',
 'Psalms No. 146',
 'Psalms No. 132',
 'Psalms No. 53',
 'Psalms No. 17',
 'Psalms No. 57',
 'Psalms No. 55',
 'Psalms No. 3',
 'Psalms No. 93',
 'Psalms No. 136',
 'Psalms No. 116',
 'Psalms No. 124',
 'Psalms No. 36',
 'Psalms No. 80',
 'Psalms No. 13',
 'Psalms No. 150',
 'Psalms No. 120',
 'Psalms No. 143',
 'Psalms No. 110',
 'Psalms No. 63',
 'Psalms No. 60',
 'Psalms No. 58',
 'Psalms No. 130',
 'Psalms No. 92',
 'Psalms No. 137',
 'Psalms No. 77',
 'Psalms No. 54',
 'Psalms No. 4',
 'Psalms No. 12',
 'Psalms No. 8',
 'Last Resort',
 'Ouvertura / Overture',
 'Chop Suey!',
 'The Middle',
 'Happiest Year',
 'How You Remind Me',
 'Drops of Jupiter (Tell Me)',
 '7 Years',
 'Island In The Sun',
 'Toxicity',
 'Harder, Better, Faster, Stronger',
 'Your Body Is a Wonderland',
 'In Too Deep',
 'Clint Eastwood',
 'Whenever, Wherever',
 "What's Luv? (feat. Ja-Rule & Ashanti)",
 "New Year's Day - Live From Red Rocks Amphitheatre, Colorado, USA / 1983 / Remastered 2021",
 'Lady - Hear Me Tonight',
 'Guilt',
 'Frühlingsstimmen, Walzer, Op. 410',
 "Can't Get You out of My Head",
 'Mysterious Ambience for 2021',
 'First Date',
 'My Dear',
 'Neue Melodien-Quadrille, Op. 254',
 'Aerials',
 'Fatinitza-Marsch',
 'Wherever You Will Go',
 '29 Years - 2021 Remaster',
 'Fat Lip',
 'Radetzky-Marsch, Op. 228',
 'Let Me Blow Ya Mind',
 'Grubenlichter-Walzer',
 "L'Amour Toujours",
 'Schallwellen, Walzer, Op. 148',
 'Something About Us',
 'Niko-Polka, Op. 228',
 'An der schönen blauen Donau, Walzer, Op. 314',
 'Last Nite',
 'Dichter und Bauer: Ouvertüre',
 'Crazy Rap (Colt 45 & 2 Zig Zags)',
 'In Saus und Braus',
 'Me Gustas Tu',
 'Volkslied / Folk Song',
 'New Slang',
 'Introduzione / Introduction',
 'U Remind Me',
 "Jägerchor / Huntsmen's Chorus",
 'Family Affair',
 'Ohne Sorgen, Polka schnell, Op. 271',
 'Survivor',
 'Kaiserwalzer, Op. 437',
 "I'm a Slave 4 U",
 'Venetianer-Galopp, Op. 74',
 'Youth of the Nation',
 "Neujahrsgruß / New Year's Address / Allocution du Nouvel An",
 "Bad'ner Mad'ln, Walzer, Op. 257",
 'She Hates Me',
 'Margherita-Polka, Op. 244',
 'My Sacrifice',
 "Im Krapfenwald'l, Polka française, Op. 336",
 'Click Click Boom',
 "Stürmisch in Lieb' und Tanz, Polka schnell, Op. 393",
 'Fell In Love With a Girl',
 'Furioso-Polka, Op. 260',
 'Digital Love',
 'Another Life',
 'River Flows In You',
 'Break Ya Neck',
 'Talkin’ to You',
 'One Last Breath',
 "Brad's Dad Is Turning 16 Years Old (Live/2021)",
 'Sonne',
 'U Got It Bad',
 'i still remember toronto',
 'Color Esperanza',
 "Comptine d'un autre été, l'après-midi",
 'Get Ur Freak On',
 'Picture (feat. Sheryl Crow)',
 'Doubt (2021 Remaster)',
 'Etched',
 'Lady Marmalade - From "Moulin Rouge" Soundtrack',
 'Get the Party Started',
 'Jupiter - 2021 Rebuild',
 'Kung Fu Fighting',
 '君の知らない世界へ',
 'Mad World (Feat. Michael Andrews)',
 'Tribute',
 'Boom, Roasted (2021 Remaster)',
 'Number One Ambience for 2021',
 'Differences',
 "Mt. Chill, You're Climbin' (2021 Remaster)",
 'Schism',
 'Sweetness',
 'Veridis Quo',
 'The Rock Show',
 'Contour (2021 Remaster)',
 'Because I Got High',
 'Mad Nice (2021 Remaster)',
 'Out Of Reach',
 '61 Penn (2021 Remaster)',
 'Tabaco Y Chanel',
 'You Know How We Do It',
 'Through Being Crucial (2021 Remaster)',
 'Purple Pills',
 'Jazz Piano Soundtrack for 2021',
 'Die MF Die',
 'Donde Estan las Gatas',
 'Morena mía',
 'Bad Boy for Life',
 'リンガベル',
 'Where the Party At (feat. Nelly)',
 'Best I Can Do',
 'El Ultimo Adiós - Varios Artistas Version',
 'Finale II - Die Wolfsschlucht / Finale II - Wolf ́s Glen Scene',
 'Aria Kaspar / Aria Kaspar',
 'Boom',
 'Lied Kaspar / Song Kaspar',
 'Feuer frei!',
 'Just Like a Pill',
 'On Leaving (2021 Remaster)',
 'ATWA',
 'Whole Again',
 'Small, Bent and Ugly (2021 Remaster)',
 'Voyage voyage',
 'A Donde Vayas',
 "Give 'Em The Howard (2021 Remaster)",
 'Crawling In The Dark',
 'Twenty Years',
 "We're Going to Be Friends",
 'Ich will',
 'Me Volví A Acordar De Ti',
 'Underneath Your Clothes',
 'Short Skirt / Long Jacket',
 'Independent Women, Pt. 1',
 'World of Our Own',
 'Hash Pipe',
 'Between Angels And Insects',
 'Como Fui A Enamorarme De Ti',
 'Little L',
 'You Rock My World',
 'Cavatina Agathe / Cavatina Agathe',
 'Epitáfio',
 'Scena Ed Aria Agathe / Scene and Aria Agathe',
 "Ol' Red",
 'Duetto Agathe & Ännchen / Duet Agatha & Ännchen',
 'Relicário - Ao Vivo',
 "It's Been Awhile",
 'Out of My League',
 'Plug in Baby',
 'Por Enquanto - Ao Vivo',
 'Beber de Tu Sangre',
 'Samajh Samajh Ke',
 'Lugar Ao Sol',
 'Kachcha Papad Pakka Papad',
 'Bootylicious',
 'We Right Here',
 'Mein Herz brennt',
 'Aunque no sea conmigo (feat. Café Tacvba)',
 '214',
 'Have A Nice Day',
 'Fight Music',
 'No Podrás',
 'Face to Face',
 'Blurry',
 "I'm Real (feat. Ja Rule) - Murder Remix",
 'Homesick - 2021 Remaster',
 'Amores extraños - Versión 2001',
 'Avril 14th',
 'People = Shit',
 'Me haces bien',
 'I Won\'t Say (I\'m In Love) - From "Hercules" / Soundtrack Version',
 'Friendly Backdrops for 2021',
 'Homework Aadha',
 'Hocus Pocus',
 "Wish I Didn't Miss You",
 'Kids On the Street - 2021 Remaster',
 'Can We Talk',
 'Peaches & Cream',
 'Concerning Hobbits',
 'No Such Thing',
 "Who's That Girl?",
 'Sin miedo a nada (feat. Amaia Montero)',
 'Why Georgia',
 'Aerodynamic',
 'Son de Amores',
 'Rebel Yell - Remastered',
 'Best In Me',
 'Bleed American',
 'In The Waiting Line',
 "Hit 'Em Up Style (Oops!)",
 'I Must Be High',
 'Little Things',
 'Cumbia sobre el río / Interludio',
 'Anthem Part Two',
 'One Summer Day',
 'El Duelo (feat. Ely Guerra)',
 'Hear You Me',
 'Ni Que Valieras Tanto',
 'Tear Away',
 'Amber',
 "Love Don't Cost a Thing",
 "Everybody (Backstreet's Back) - Extended Version",
 'Stay Together For The Kids',
 "I'm Gonna Miss Her",
 'Fuck the Year',
 'Overprotected - Radio Edit',
 'Finale III (Part Of)',
 'Played-A-Live (The Bongo Song)',
 'Incredible New Years Resolutions',
 'Flake',
 'Who We Be',
 'En La Cama (feat. Daddy Yankee)',
 'Me llamo Raquel',
 'Lateralus',
 'Friendly Jazz Piano Solo - Vibe for New Years Resolutions',
 'All Rise',
 "There You'll Be",
 'Tu Eres Ajena',
 'Video',
 'Boate Azul - Ao Vivo',
 'O Segundo Sol - Ao Vivo',
 'Tanto la Queria',
 'Alive - Chris Lord-Alge Mix',
 "Hedwig's Theme",
 'A Aa E Ee',
 'Starlight (Radio Edit)',
 'Billi Ka Bachcha (feat. Butterball)',
 'De la Noche a la Mañana',
 'Upar Neeche',
 "Superstylin'",
 'Mera Sunday',
 'Drown',
 'Nikka Shararti',
 'Austin',
 'Links 2 3 4',
 'Vino Tinto',
 'Handbags And Gladrags',
 'Fuck Authority',
 'The Heretic Anthem',
 'Mi Fantasía',
 "Don't Let Me Get Me - Radio Edit",
 'I Got Love',
 'Left Behind',
 'La Agarro Bajando',
 'Area Codes',
 'Fly Away From Here',
 'Drowning',
 'Hazme una Señal - Gimme Little Sign',
 'Parabola',
 'Suerte (Whenever, Wherever)',
 'A Ella',
 'Getting Away With It (All Messed Up)',
 'La Camioneta Gris',
 'I Wanna Talk About Me',
 'Side',
 'Feel So Numb',
 'Daylight in Your Eyes - Radio Version',
 'Every Time I Look For You',
 "Where's Your Head At",
 'Blood Brothers',
 "Don't Stop Movin'",
 'High Life',
 'Are You In?',
 'Carolina - En directo 2000',
 'The Breaking of the Fellowship (feat. "In Dreams")',
 'Usted Se Me Llevo la Vida',
 'Spread Your Love',
 'Anyone Else But You',
 'Crescendolls',
 'Pyramid Song',
 'Segredos',
 'You Give Me Something',
 'Heroe',
 'Pobre de Ti',
 'Neon',
 'Que Levante La Mano',
 "I'm Not a Girl, Not Yet a Woman",
 '19-2000',
 'Rollout (My Business)',
 '19 Dias y 500 Noches - En Directo',
 'Vida Vazia - Ao Vivo',
 'All You Wanted',
 'Mutter',
 "I'm Already There",
 'Amor de Carnaval - Ao Vivo',
 'Brown Eyes',
 'Kuzu Kuzu',
 'Chúntaros Style',
 'May It Be',
 "It's Over Now",
 'Music & Me',
 'Popurri Juan Gabriel Medley',
 'Te Quiero Comer La Boca',
 'Perfume de Gardenias',
 'Fairytale',
 'Izzo (H.O.V.A.)',
 'Tipsy - Club Mix',
 'Al Despertar',
 'Passenger Seat (Acoustic)',
 'Jealous Guy',
 'Wasting My Time',
 'Another Year - 2021 Remaster',
 "Lil' Homies",
 'El aire de la calle',
 'Círculo De Amor',
 'Torn - Acoustic MTV Unplugged',
 'Gel Bahtımın Kar Beyazı',
 'Meet Her At The Loveparade (Radio Edit)',
 'Quem de nós Dois (La Mia Storia Tra Le Dita)',
 "La Valse d'Amélie - Version piano",
 'Too Long',
 'On This Day',
 'El Diario De Un Borracho',
 'Superheroes',
 'Fuck Her Gently',
 'Bole Chudiyan',
 'Disasterpiece',
 "Don't Stop Dancing",
 "U Don't Have to Call",
 'Breathin',
 'Another Chance - Radio Edit',
 'Do Fundo da Grota',
 'My Friend',
 'Wiseman',
 "Heart Of The City (Ain't No Love)",
 'Caring Is Creepy',
 'New Born',
 'Move Bitch',
 'Oh! Chuva',
 'The Grudge',
 'Short Circuit',
 'Entregame Tu Amor',
 'Como Tudo Deve Ser',
 'Deer Dance',
 'Eyes Without A Face - Remastered',
 '情非得已',
 'Feo Fuerte y Formal',
 'My Plague',
 'Kasih Tak Sampai',
 "I Love Rock 'N' Roll",
 '安靜',
 'Me Liberé',
 'Malandragem - Ao Vivo',
 'When You Look At Me - Radio Edit',
 'Ayer La Vi Por La Calle',
 'The Council of Elrond (feat. "Aniron") [Theme for Aragorn and Arwen]',
 'Cumbia poder',
 'Leaving Hogwarts',
 'Bubble Toes',
 'Hard To Explain',
 'Só pro Meu Prazer - Ao Vivo',
 'Nice to Know You',
 'Wave of Mutilation - UK Surf',
 'A New Day Has Come - Radio Remix',
 'El Viejo',
 'Nightvision',
 'Forest',
 'Xote da Alegria',
 'Linchpin',
 "I'm a Thug",
 'Programa de Fim de Semana - Ao Vivo',
 'Te Dejo Madrid',
 'Kyrie - Single Version',
 'Um Bom Perdedor (Un Buen Perdedor) - Ao Vivo',
 'Te Esperaré',
 'Drift Away - Single Version',
 'Kisapmata',
 'Temple of Silence',
 'Amor pra recomeçar',
 'Love Foolosophy (with Beverley Knight) - Radio Edit',
 'Semua Tak Sama',
 "Harry's Wondrous World",
 'Phenomenal 2021',
 '19-2000 - Soulchild Remix',
 'I Wanna Grow Old with You',
 'Carefree 2021',
 'Is This It',
 'Flowers In The Window',
 'The Shire',
 'Needles',
 'Butterflies',
 'Amor de Estudiante',
 'Love to Hate You - 2009 Remastered Version',
 'Worst Comes To Worst - Edited',
 'Cómo Quieres Que Te Quiera',
 'One Minute Man (feat. Ludacris)',
 'Artistic 2021',
 'Spieluhr',
 'Lovely 2021',
 'Los Calientes',
 'Orinoco Flow',
 'ARTOFLIFE - 2021 Rework',
 'Ladrón De Buena Suerte',
 'Torete',
 'Exploration of Space - Radio Edit',
 'Dance with the Devil',
 'MUDRA - 2021 Rework',
 'Background for 2021',
 'Alaba A Dios',
 'I Might Be Wrong',
 'AM To PM',
 'A gritos de esperanza',
 'Knives Out',
 "İstanbul'da Sonbahar",
 'Vas A Sufrir',
 'Alabama',
 'Buck Rogers',
 'Wicked Ambience for 2021',
 'Music (feat. Marvin Gaye)',
 'Seu Amor Ainda é Tudo - Ao Vivo',
 'Mr. Bojangles - Remastered 2001',
 'Mavişim',
 'Carito',
 'Queen of My Heart - Radio Edit',
 'Que Me Quedes Tu',
 'Amazing Ambiance for 2021',
 'Boys From Oklahoma',
 'El Primer Tonto - En Vivo',
 'Until The End Of Time',
 'Spacious Music for 2021',
 'I Can Only Imagine',
 "When It's Over - David Kahne Main",
 "Let's Get Married (feat. Run) - ReMarqable Remix",
 'Got What You Need',
 'Mama Tried - Remastered 2001',
 'Serene Backdrops for 2021',
 'Umaaraw, Umuulan',
 'Urbane Ambiance for 2021',
 'Preciso de Ti - Ao Vivo',
 'Mysterious Backdrops for 2021',
 'You Never Met a Motherfucker Quite Like Me',
 'Spirited Ambiance for 2021',
 'You And Whose Army?',
 'My Stupid Mouth',
 'Himno De Victoria',
 'Y sólo se me ocurre amarte',
 'Damien III',
 'Sadeness',
 'Se Las Voy a Dar a Otro',
 'Superlative Moods for 2021',
 'Reckless Abandon',
 'Monsters, Inc.',
 'Bloody War',
 'Conmigo Te Gustó',
 'Más Chingón Que Ese Buey',
 'Du hast mich tausendmal belogen',
 'Thrilling Ambience for 2021',
 'Eternal Flame - Single Version',
 'Do You Really Like It? - Radio Edit',
 'Bounce',
 'Letter 2 My Unborn',
 'Never Gonna Stop (The Red, Red Kroovy)',
 'A New Day Has Come',
 'Time Is the Enemy',
 'Dead Leaves and the Dirty Ground',
 "A Woman's Worth",
 'Проклятый старый дом',
 'Bibbidi-Bobbidi-Boo - From "Cinderella"',
 'Everything Ends',
 'Cocky',
 'Roller Coaster',
 'La soledad - Versión 2001',
 'Ether',
 'La Balada',
 'La Ley Y La Trampa',
 'Aprendiz - Unplugged',
 'Serenade in B-Flat Major, K. 361 "Gran Partita": III. Adagio',
 'Science',
 'Love at First Sight',
 'Woh Ladki Hai Kahan',
 'Shimmy']

        function goBack() {
            window.history.back();
        }

        //main function to check for similarity
        function checkSimilarity() {
            filtered_names = []
            
            //get user input data
            var input = document.getElementById("movie_name").value;

            //compare user input data with all titles
            for (var i = 0; i < all_titles.length; i++) {
                let simscore= similarity(input, all_titles[i])
                //save to array if similarity >= 0.8
                if (simscore >= 0.8) {
                    console.log("movie: ", all_titles[i],"  similarity score: ",simscore)
                    filtered_names.push([all_titles[i] + '<br />', simscore]);
                }
            }
            // sort according to similarity scores
            filtered_names.sort((a,b)=>b[1]-a[1])

            // code for website ui
            if (filtered_names.length < 1) {
                document.getElementById("suggestions").innerHTML = "The entered movie name is either misspelled badly or not recorded in database. <br/><br/>";
            } else {
                let didyoumean=""
                for (key in filtered_names) {
                    didyoumean= didyoumean.concat(filtered_names[key][0])
                }
                document.getElementById("suggestions").innerHTML = "<strong>Did you mean: </strong><br/><br/>"+didyoumean+"<br/>";
            }
        }

        //subfunction to check for similarity
        function similarity(input, recc){
            //find frequency of each letter for the input
            const termfreqInput = termFreqMap(input);
            //find frequency of each letter for all titles
            const termfreqRecc = termFreqMap(recc);

            let dict = {};
            //add letters to dictionary 
            addLettersToDict(termfreqInput, dict);
            //add letters to dictionary 
            addLettersToDict(termfreqRecc, dict);

            //vectorise each letter in the input according to dictionary
            const inputVector = vectorizeTermFreqMap(termfreqInput, dict);
            //vectorise each letter in all titles according to dictionary
            const reccVector = vectorizeTermFreqMap(termfreqRecc, dict);

            //return cosine similarity matrix for the input title and all titles
            return dotProduct(inputVector, reccVector) / (magnitude(inputVector) * magnitude(reccVector));
        }

        //vectorise each letter in given string
        function termFreqMap(str) {
            var chars = str.split('');
            var termFreq = {};
            chars.forEach(function (w) {
                termFreq[w] = (termFreq[w] || 0) + 1;
            });
            return termFreq;
        }   
        
        //add letters to dictionary
        function addLettersToDict(map, dict) {
            for (var key in map) {
                dict[key] = true;
            }
        }

        //vectorise each letter according to dictionary
        function vectorizeTermFreqMap(map, dict) {
            var termFreqVector = [];
            for (var term in dict) {
                termFreqVector.push(map[term] || 0);
            }
            console.log(termFreqVector);
            return termFreqVector;
        }

        //return dot product of two vectors
        function dotProduct(vecA, vecB) {
            var product = 0;
            for (var i = 0; i < vecA.length; i++) {
                product += vecA[i] * vecB[i];
            }
            return product;
        }

        //return magnitude of vector
        function magnitude(vec) {
            var sum = 0;
            for (var i = 0; i < vec.length; i++) {
                sum += vec[i] * vec[i];
            }
            return Math.sqrt(sum);
        }

        //call main funciton to check for similarity
        checkSimilarity()
    </script>
</body>


</html>